* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
  }
  .container{
      display: flex;
  }
  .header-logo {
    margin-top: 7px;
    margin-left: -90px;
  }
  .imgs{
      position: relative;
  }
  .ellipse-1 {
    height: 100vh;
    display: block;
    width: 80%;
   
  }
  .ellipse-2 {
      position: absolute;
      height: 50vh;
      width: 40%;
      margin-top: 180px;
      top: 0;
  }
  
  .header-img {
    width: 30px;
    height: 30px;
  }
  .header {
    display: flex;
  
  }
  
  .header-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
  color: #ddd;
  }
  .main-title{
      margin-top: 80px;
      margin-left: 150px;
  }
  .first-section{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .main-text{
      font-size: 100px;
      line-height: 305px;
      letter-spacing: 10px;
      text-align: left;
      color: white;
  }
  .form{
      display: flex;
      flex-direction: column;
  }
  .form input{
      width: 700px;
      height: 6vh;
      border: 2px solid #B9B9B9;
      color: #B9B9B9;
      border-radius: 5px;
      background-color: transparent;
      padding: 5px;
  margin-top: 20px;
  }
  .form input::placeholder{
      font-size: 20px;
     
  }
  .form-text{
      display: flex;
  justify-content: space-between;}
  .form-text span{
      color: white;
      margin-top: 10px;
      font-size: 18px;
  }
  button{
      width: 716px;
      height: 8vh;
      border: 2px solid #B9B9B9;
      color: BLACK;
      border-radius: 5px;
      background-color: white;
      padding: 5px;
      font-size: 35px;
      font-weight: 700;
      margin-top: 60px;
      transition: 1s;
  }
  button:hover{
      color: #B9B9B9;
      background-color: transparent;
      cursor: pointer; }
                           